* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 800px;
  margin: auto;

  padding: 2rem;
  margin-top: 5rem;

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);

  transition: opacity 2s;
}

.content-container p {
  font-weight: 400;
  line-height: 1.7;
  font-size: .9rem;
  max-width: 40rem;
  margin-top: 1rem;
}

.description {
  flex: 50%;
  font-size: 18px;
}

.description h1 {
  font-weight: 500;
  text-align: center;
  font-size: 1.7rem;
  color: rgb(255,96,0);
  letter-spacing: 2px;
}

#player-input {
  display: block;
  margin-top: 1rem;
  width: 20rem;
  margin-bottom: .5rem;
  
  height: 2rem;
  font-size: 1.1rem;

  padding-left: 10px;

  border: 1px solid rgb(179, 179, 179);
  border-radius: 6px;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
}

#player-input:focus::placeholder {
  color: transparent;
}

.btn.submit-btn {
  width: 20rem;
  padding: 1rem 4rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-weight: 500;
}

.not-found {
  color: rgb(255,96,0);
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.graph-container {
  display: flex;
  flex-direction: row;

  max-width: 800px;
  margin: auto;

  padding: 20px;

  margin-top: 5px;
  margin-bottom: 100px;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  overflow: auto;

  position: relative;
}

.loader {
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-container {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}